@import "tailwindcss";

@theme {
  /* Colores */
  --color-secondary: #f5741c;
  --color-darkBg: #131424;

  /* Gradiente para el Background */
  --background-image-gradient-cover: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);

  /* Fuente */
  --font-sans: var(--font-urbanist);
}


@layer utilities {
  .text-balance {
    text-wrap: balance
  }
}
